<!DOCTYPE html>
<html>

<head>
    <title>MyChess</title>
    <style>

        html{
            background-color: #DBCBB7;
        }
        p{
            white-space: pre-line;
            font-size: 25px;
        }
        .lost{
            position: fixed;
            top: 25%;
            left: 3%;
            width: 600px;
            height: 320px;
        }
        .won{
            position: fixed;
            top: 55%;
            left: 3%;
            width: 600px;
            height: 320px;
        }
        .moves{
            position: fixed;
            top: 25%;
            right: 20%;
        }
        .whiteTime{
            position: fixed;
            top: 3%;
            left: 40.5%;
        }
        .player{
            width: 250px;
            height: 80px;
            position: fixed;
            right:50%;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
            border-radius: 25px;
        }
        .BlackTime{
            position: fixed;
            top: 3%;
            right: 38%;
        }
        .opponent{
            width: 250px;
            height: 80px;
            position: fixed;
            left:52.5%;
            background-color: #4E4B4B;
            color: #ffffff;
            text-align: center;
            border-radius: 25px;
        }
        .chessboard {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -320px;
            margin-left: -320px;
            width: 640px;
            height: 640px;
            border: 25px solid #333;
        }
        .dark {
            background-color: #873e23!important;

        }
        .cell {
            float: left;
            width: 80px;
            height: 80px;
            background-color: #eab676;
            font-size:50px;
            text-align:center;
            display: table-cell;
            vertical-align:middle;
        }

        .dark:hover{
            filter: brightness(50%);
        }

        .cell:hover {
            filter: brightness(50%);
        }
        body.blackBoard .chessboard, body.blackBoard .cell{
            transform: rotate(180deg);
        }

    </style>
</head>

<body>
    <div>
        <p id="timeElapsed">Time elapsed:
            0:00
        </p>
    </div>

    <div class="lost">
        <p>White captures:</p>
        <div id="whiteCaptures"></div>
    </div>

    <div class="won">
        <p>Black captures:</p>
        <div id="blackCaptures"></div>
    </div>

    <div class="moves">
        <p><b>Moves Made:</b></p>
    </div>

    <div class="whiteTime" >
        <p id="whiteTime">3:00</p>
    </div>

    <div class="blackTime" >
        <p id="blackTime">3:00</p>
    </div>

    <div class="chessboard">
        <div class="row8">
            <div class='cell' id='a8'></div>
            <div class='dark cell' id='b8'></div>
            <div class='cell' id='c8'></div>
            <div class='dark cell' id='d8'></div>
            <div class='cell' id='e8'></div>
            <div class='dark cell' id='f8'></div>
            <div class='cell' id='g8'></div>
            <div class='dark cell' id='h8'></div>
        </div>

        <div class="row7">
            <div class='dark cell' id='a7'></div>
            <div class='cell' id='b7'></div>
            <div class='dark cell' id='c7'></div>
            <div class='cell' id='d7'></div>
            <div class='dark cell' id='e7'></div>
            <div class='cell' id='f7'></div>
            <div class='dark cell' id='g7'></div>
            <div class='cell' id='h7'></div>
        </div>

        <div class='row6'>
            <div class='cell' id='a6'></div>
            <div class='dark cell' id='b6'></div>
            <div class='cell' id='c6'></div>
            <div class='dark cell' id='d6'></div>
            <div class='cell' id='e6'></div>
            <div class='dark cell' id='f6'></div>
            <div class='cell' id='g6'></div>
            <div class='dark cell' id='h6'></div>
        </div>

        <div class='row5'>
            <div class='dark cell' id='a5'></div>
            <div class='cell' id='b5'></div>
            <div class='dark cell' id='c5'></div>
            <div class='cell' id='d5'></div>
            <div class='dark cell' id='e5'></div>
            <div class='cell' id='f5'></div>
            <div class='dark cell' id='g5'></div>
            <div class='cell' id='h5'></div>
        </div>

        <div class='row4'>
            <div class='cell' id='a4'></div>
            <div class='dark cell' id='b4'></div>
            <div class='cell' id='c4'></div>
            <div class='dark cell' id='d4'></div>
            <div class='cell' id='e4'></div>
            <div class='dark cell' id='f4'></div>
            <div class='cell' id='g4'></div>
            <div class='dark cell' id='h4'></div>
        </div>

        <div class='row3'>
            <div class='dark cell' id='a3'></div>
            <div class='cell' id='b3'></div>
            <div class='dark cell' id='c3'></div>
            <div class='cell' id='d3'></div>
            <div class='dark cell' id='e3'></div>
            <div class='cell' id='f3'></div>
            <div class='dark cell' id='g3'></div>
            <div class='cell' id='h3'></div>
        </div>

        <div class='row2'>
            <div class='cell' id='a2'></div>
            <div class='dark cell' id='b2'></div>
            <div class='cell' id='c2'></div>
            <div class='dark cell' id='d2'></div>
            <div class='cell' id='e2'></div>
            <div class='dark cell' id='f2'></div>
            <div class='cell' id='g2'></div>
            <div class='dark cell' id='h2'></div>
        </div>

        <div class='row1'>
            <div class='dark cell' id='a1'></div>
            <div class='cell' id='b1'></div>
            <div class='dark cell' id='c1'></div>
            <div class='cell' id='d1'></div>
            <div class='dark cell' id='e1'></div>
            <div class='cell' id='f1'></div>
            <div class='dark cell' id='g1'></div>
            <div class='cell' id='h1'></div>
        </div>

    </div>

    <!-- Poor coding standard, only for demonstration purposes.
             JavaScript code should not be part of HTML documents.
        -->
    <script src="javascripts/client.js"></script>
    <script src="javascripts/pieces.js"></script>
</body>

</html>