<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="stylesheets/splash.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      
        <h1>Speed Chess</h1>
        <div class="description">
          <p class="title"><b>How to play?</b></p>
          <hr />
          <p class="info"><b>Each player is given 3 minutes
            to make their moves. While it
            is your turn to make a move,
            your timer will keep counting 
            down until you make a valid 
            move. Same goes for the other
            player.

            The rules are the same as in
            regular chess with the only 
            difference being that the first
            player to lose their king or run
            out of time loses.</b>
            </p>
        </div>
        
        <div class = "button_container">
          <button type="button" class="button" onclick="location.href='../play'">
            <span class="play">Play!</span>
          </button>
        </div>
       
        <div>
            <img id="loading" src="images/splash-icon.png" width="300" height="300">
        </div>
        <div class="stats">
          <p><b>Games Played: 0
            Active games: 0
            Online players: 0
          </b></p>
        </div>
    </body>
</html>
